# Node.js
node_modules/

# Build files
build/
dist/

# Logs
logs/
*.log

# Environment variables
.env

# Dependency directories
/.pnp
.pnp.js

# TypeScript
*.tsbuildinfo

# Environment-specific
.env.local
.env.development.local
.env.test.local
.env.production.local
